[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
rope = "*"
black = "==20.08b1"

[packages]
pandas = "*"
matplotlib = "*"
sklearn = "*"
numpy = "*"
mlens = "*"
openpyxl = "*"
sklearn-deap = "*"
json-tricks = "*"
altair = "*"
altair-viewer = "*"
tabulate = "*"
jupyter = "*"
jupyterlab = "*"
altair-saver = "*"
vega-datasets = "*"
seaborn = "*"
keras = "*"
statsmodels = "*"
dill = "*"
ipykernel = "*"
handcalcs = "*"
numba = "*"
jinja2 = "*"
scikeras = "==0.2.0"

[requires]
python_version = "3.6"
