[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
rope = "*"
black = "==20.08b1"
mypy = "*"
pycln = "*"

[packages]
pandas = "*"
matplotlib = "*"
klearn = "*"
numpy = "*"
json-tricks = "*"
tabulate = "*"
jupyter = "*"
seaborn = "*"
ipykernel = "*"
data-science-types = "*"
scikeras = "*"
prettytable = "*"
ipython = "*"
tensorflow = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
